<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../Partials/BootStrap.ejs') %>
</head>
<body>
    <%- include('../Partials/MainNav.ejs') %>

    <form action="RegisterApp" method="post">
        <input type="text" name="ApplicationName" placeholder="Application Name">
        <input type="text" name="Redirect URL" placeholder="Redirect URL">
        <button type="submit">Register</button>
    </form>

    <%- include('../Partials/Footer.ejs') %>
</body>
</html>